# Kconfig - Morgenmuffel board configuration
#
# Copyright (c) 2019 Marco Peter
#
# SPDX-License-Identifier: Apache-2.0
#

if BOARD_MORGENMUFFEL

config BOARD
	default "Morgenmuffel"

config FLASH_HAS_PAGE_LAYOUT
	default y

endif # BOARD_MORGENMUFFEL
