# Kconfig - Morgenmuffel board configuration
#
# Copyright (c) 2019 Marco Peter
#
# SPDX-License-Identifier: Apache-2.0
#

if BOARD_MORGENMUFFEL

config BOARD
	default "Morgenmuffel"

config FLASH_HAS_PAGE_LAYOUT
	default y

if NETWORKING

config NET_L2_ETHERNET
	default y

config ETH_STM32_HAL
	default y

endif # NETWORKING

if DISPLAY

config SPI
	default y

config SSD1306
	default y

if LVGL

config LVGL_DISPLAY_DEV_NAME
	default "SSD1306"

config LVGL_HOR_RES_MAX
	default 128

config LVGL_VER_RES_MAX
	default 64

config LVGL_VDB_SIZE
	default 64

config LVGL_DPI
	default 59

config LVGL_BITS_PER_PIXEL
	default 1

choice LVGL_COLOR_DEPTH
	default LVGL_COLOR_DEPTH_1
endchoice

endif # LVGL

endif # DISPLAY

endif # BOARD_MORGENMUFFEL
