# Copyright (c) 2020 Marco Peter
# SPDX-License-Identifier: Apache-2.0

menuconfig SI468X
	bool "Silicon Labs SI468X FM/DAB/FMHD/AM/AMHD Receiver"
	depends on SPI
	help
	  Enable support for the Silicon Labs SI468x FM/DAB/FMHD/AM/AMHD
	  receivers.

if SI468X

config SI468X_CTSIEN
	bool "Use interrupt line in bootloader"
	help
	  The bootloader toggles the host interrupt line when CTS is available.

choice
	prompt "Clock mode"
	default SI468X_CLK_MODE_CRYSTAL
	help
	  Chose the clock mode to work with.

config SI468X_CLK_MODE_PWRDN
	bool "Oscillator and buffer are powered down."

config SI468X_CLK_MODE_CRYSTAL
	bool "Reference clock generator is in crystal mode."

config SI468X_CLK_MODE_SINGLE_ENDED
	bool "Oscillator is off and circuit acts as single ended buffer."

config SI468X_CLK_MODE_DIFFERENTIAL
	bool "Oscillator is off and circuit acts as differential buffer."

endchoice

config SI468X_CLK_MODE
	int
	default 0 if SI468X_CLK_MODE_PWRDN
	default 1 if SI468X_CLK_MODE_CRYSTAL
	default 2 if SI468X_CLK_MODE_SINGLE_ENDED
	default 3 if SI468X_CLK_MODE_DIFFERENTIAL

config SI468X_TR_SIZE
	int "XOSC TR_SIZE. See refclk spec sheet for more information."
	range 0 15
	default 5

config SI468X_XTALFREQ
	int "XTAL Frequency in Hz."
	default 12288000

if SI468X_CLK_MODE_CRYSTAL

config SI468X_IBIAS
	int "XTAL IBIAS current at startup."
	range 0 127
	default 80

config SI468X_IBIASRUN
	int "XTAL IBIAS current at runtime"
	range 0 127
	default 40

config SI468X_CTUN
	int "CTUN"
	range 0 63
	default 63

endif #SI468X_CLK_MODE_CRYSTAL

config SI468X_FLASH_START_PATCH
	hex "Start address of patch on external flash memory"
	default 0x0

menuconfig SI468X_DAB
	bool "Use DAB Receiver"

if SI468X_DAB

config SI468X_FLASH_START_IMAGE_DAB
	hex "Start address of DAB firmware on external flash memory"
	default 0xB0000

config SI468X_VARACTOR_SLOPE_DAB
	int "Varactor configuration slope in DAB mode"
	default 0
	range -32768 32767

config SI468X_VARACTOR_INTCP_DAB
	int "Varactor configuration intercept in DAB mode"
	default 0
	range 0 65535 

config SI468X_VHFSW_DAB
	bool "Close VHF front end switch in DAB mode"
	default 1

config SI468X_DAB_VALID_RSSI_THRESHOLD
	int "RSSI threshold for valid DAB Seek/Tune in dBuV."
	default 30
	range -128 127

config SI468X_DAB_SERVICE_LIST_SIZE
	int "Size of the internal service list"
	default 100
	help
	  The driver needs an internal list on which service and component can
	  be found on which channel. Each entry requires 4 bytes.

endif #SI468X_DAB

menuconfig SI468X_FMHD
	bool "Use FMHD Receiver"

if SI468X_FMHD

config SI468X_FLASH_START_IMAGE_FM
	hex "Start address of FM firmware on external flash memory"
	default 0x150000

config SI468X_VARACTOR_SLOPE_FMHD
	int "Varactor configuration slope in FMHD mode"
	default -7537
	range -32768 32767

config SI468X_VARACTOR_INTCP_FMHD
	int "Varactor configuration intercept in FMHD mode"
	default 801
	range 0 65535 

config SI468X_VHFSW_FMHD
	bool "Close VHF front end switch in FMHD mode"
	default 0

endif #SI468X_FMHD

menuconfig SI468X_AM
	bool "Use AM Receiver"

if SI468X_AM

config SI468X_FLASH_START_IMAGE_AM
	hex "Start address of AM firmware on external flash memory"
	default 0x10000

endif #SI468X_AM

endif #SI468X