# Copyright (c) 2019 Nordic Semiconductor
# SPDX-License-Identifier: Apache-2.0

config SHT2X
	bool "SHT2x Humidity and Temperature Sensor"
	depends on I2C
	help
	  Enable driver for SHT2x humidity and temperature sensors
