# Copyright (c) 2020 Marco Peter
# SPDX-License-Identifier: Apache-2.0

config SI4689
	bool "Silicon Labs SI4689 DAB Receiver"
	depends on SPI
	help
	  Enable support for the Silicon Labs SI4689 DAB receiver
